@{
    ViewData["Title"] = "Inicio";
}

<div class="mt-4 p-5 bg-info text-white rounded shadow">
    <h2>SchoolManagementApp</h2>
    <p>Este es un sistema sencillo de administración escolar que contiene los siguientes módulos:</p>
    <ul>
        <li>Estudiantes</li>
        <li>Profesores</li>
        <li>Grados</li>
        <li>Inscripciones</li>
    </ul>
</div>

<div class="container mt-5">
    <div class="row gap-4">
        <div class="col-12 col-md shadow-sm rounded">
            <h3>Algunos detalles técnicos</h3>
            <p>
                Este sistema esta hecho con ASP .NET Core MVC en .NET 8 utilizando Clean Architecture y escrito de la manera
                más simplificada posible en cuanto a paquetes respecta, ya que no incorpora paquetes para mapeo de objetos (como AutoMapper, Mapperly o Mapster),
                tampoco se esta haciendo uso de librerias de validación (como FluentValidation), sin embargo,
                se incorpora el uso del ORM Entity Framework Core para facilitar las operaciones hacia la Base de Datos en SQL Server.
            </p>
        </div>

        <div class="col-12 col-md shadow-sm rounded">
            <h2>Descárgalo</h2>
            <p>Puedes acceder a mi <a href="https://github.com/BrVenturaU">GitHub</a> para ver mi perfil para más proyectos o descargarlo dando clic al siguiente botón.</p>
            <p><a class="btn btn-primary" href="https://github.com/BrVenturaU/BlogPostTutorials">SchoolManagementApp Code</a></p>
        </div>
    </div>
</div>